*{
    box-sizing:border-box;
}
body{
    margin: 0;
    padding: 0;
}
#container{
    width: 100%;
    height: 100%;
}
#header{
    width: 100%;
    height: 100px;
    overflow: hidden;
    background-color: blanchedalmond;
}
#logo{
    width: 100%;
    height: 60px;
    float: left;
}
h2{
    color: tomato;
    font-size: 40px;
    font-family:Bookman Old Style;
    margin-top: 10px;
    margin-left: 10px;
}
#ig{  
 float: left;
}
.nav{
    width: 100%;
    height: 40px;
    background-color: brown;
    overflow: hidden;
}
ul{
    list-style-type: none;
    width: 90%;
}
li{
    display: block;
    float: right;
    margin-left: 40px;
}
li a, .dropbtn{     
    display: inline-block;
    color: blanchedalmond;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
li a:hover, .dropdown:hover{
    color: wheat;
}
li.dropdown{
    display: inline-block;
  }
  .dropdown-content{
      display: none;
      position: absolute;
      background-color: whitesmoke;
      min-width: 160px;
      z-index: 1;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }
    .dropdown-content a {
      color: black;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
  }
  .dropdown-content a:hover {background-color: tan}
  .dropdown:hover .dropdown-content {
      display: block;
  }
  .top{
    width: 100%;
    height: 140px;
    background-color: blanchedalmond;  
  }
  @media only screen and (min-width:600px){
        .search{
            float: left;
            width: 50%;
        }
        .write{
            float: right;
            width: 50%;
        }
  }
  input[type=text]{
      width: 130px;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 13cm;
      font-size: 20px;
      color: black;
      background-color: white;
      padding: 15px 20px 12px 40px;
      transition: width 0.4s ease-in-out;
      margin-top: 20px;
      margin-left: 10px;
      outline: none;
  }
  input[type=text]:focus {
    width: 70%;
    border: 2px solid #666;
}
.write{
    float: right;
}
h1{
    font-size: 50px;
    font-family: Baskerville Old Face;
    margin-top: -3px;
    text-align: center;
}
p{
    font-size: 20px;
    margin-top: -25px;
    font-family: Bradley Hand ITC;
    text-align: center;
}